@charset "UTF-8";

.notion-text {
	line-height: 0px;
	font-size: 12px;
}

.input-for-username {
	margin-bottom: 10px;
}

.input-for-password {
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

select {
	width: 5rem;
}

.sex-pulldown {
	margin-bottom: 10px;
}

.age-pulldown {
	margin-bottom: 10px;
}

.input-for-email {
	margin-bottom: 10px;
}

.register-input-table {
	border: 0px none;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

.register-table-labels {
	text-align: right;
}

.register-td-age {
	display: flex;
	justify-content: flex-start;
}

.register-td-birthday {
	display: flex;
	justify-content: flex-start;
}

.birthday-pulldown-label {
	margin-right: 5px;
}

.register-cert-table {
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	border: solid 1px;
}

.cert-table-tr {
	border: solid 1px;
}

.cert-table-td {
	border: solid 1px;
	padding: 1rem;
}

.register-pulldown-label {
	font-weight: 700;
}

.register-button {
	border: 1px solid gray;
  	border-radius: 100px;
  	padding: 8px 10px;
  	font-weight: bold;
  	color: black;
  	background: linear-gradient(#5D99FF, #2C7CFF);
  	width: 10rem;
}

.register-button:hover {
	background: linear-gradient(#BAD3FF, #8EB8FF);
}